doctype html
html
    head
        title= "Node & Angular - Real time web chat"
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
    body
        #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
        .controls
            #container.col Name:
            input#name(style='width:150px;')
            br
            #container.col Message:
            input#field(style='width:350px;')
            #container.col
            input#send(type='button', value='send')